
/* ####### responsive 770px ######## */
@media (max-width:770px){
    .navbar-container{
        height: 65px;
    }

    /* logo portfolio  */
    .navbar-container .logo img{
        height: 25px;
    }

    .container{
        padding: 0 30px;
    }

    .responsive-menu-btn{
        font-size: 18px;
    }
    .hero-container{
        margin-top: 60px;
    }

    .content-section{
        width: 50vw;
    }

    .content-section h1{
    font-size: 3rem;
    }

    .content-section span{
        font-size: 4rem;
    }

    .content-section h4{
        font-size: 1rem;
    }

    .content-section p{
        font-size: 12px;
    }
    

    .image-section{
        height: 300px;
    }
    }


/*############ responsive 570 ######### */
@media (max-width:570px){
    
    /* navbar container  */
    .navbar-container{
        height: 55px;
    }
    .navbar-container .logo img{
        height: 15px;
    }
    
    .container{
        padding:0 20px;  
    }

    /* responsive menu button  */
    .responsive-menu-btn{
        font-size: 15px;
    }

    .navbar-list{
        top: 50px;
    }
    /* navbar list ends  */



    /* ################### */
    /* hero section starts  */
    /* ################### */
    .hero-container{
        margin-top: 40px;
    }
    
    .content-section{
        width: 40vw;
    }
    
    .content-section h1{
    font-size: 2rem;
    }

    .content-section span{
        font-size: 3rem;
    }
    
    .content-section h4{
        font-size: 0.5rem;
        
    }
    
    .content-section p{
        font-size: 10px;
    }
    
    /* image section  */
    .image-section{
        height: 250px;
    }
    .image-section img{
        height: 100%;
    }
}
    /* ################### */
    /* hero section starts  */
    /* ################### */
